body, html {
      height: 100%;
      margin: 0;
      display: flex;
      justify-content: center; /* horizontal */
      align-items: center;     /* vertical */
      background-color: #f0f0f0;
      font-family: Arial, sans-serif;
    }

    /* Caixa do formulário */
    .form-container {
      background: rgb(247, 215, 38);
      padding: 30px 40px;
      border-radius: 8px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
      width: 400px;
    }

    /* Estilo dos inputs */
    input[type="text"]
     {
      width: 100%;
      padding: 10px;
      margin-top: 6px;
      margin-bottom: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      font-size: 14px;
    }

    /* Botão */
    button {
      width: 100%;
      padding: 10px;
      background-color: #007bff;
      border: none;
      color: white;
      font-size: 16px;
      border-radius: 4px;
      cursor: pointer;
    }

    button:hover {
      background-color: #0056b3;
    }