@font-face {
    font-family: 'Fontinha';
    src: url(a_black_lives/aBlackLives.otf);
}
@font-face {
    font-family: 'FontinhaTwo';
    src: url(zt_otez/ZTOtez-Regular.ttf);
}
@font-face {
    font-family: 'FontinhaTree';
    src: url(millaris/Millaris\ Personal\ Use\ Only.ttf);
}
body{
    background-color: rgb(255, 255, 255);
    font-size: 45px;
}

h1{
    font-family: 'Fontinha', sans-serif;
    text-align: center;
}
h2{
    font-family: 'FontinhaTwo', sans-serif;
}
h3{
    font-family: 'FontinhaTree', sans-serif;
}
.foto{
    height: 700px;
    background-image: url(Turminha\ do\ mal.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center ;
}
.container {
      display: flex;
      justify-content: center; /* centraliza horizontalmente */
      align-items: center;    /* centraliza verticalmente */
      gap: 20px;              /* espaçamento entre as imagens */
}
.container2 {
    display: flex;           /* ativa o Flexbox */
    gap: 20px;               /* espaço entre as colunas */
}
  .container img {
    max-width: 300px;    /* largura máxima da imagem */
    height: auto;
    border-radius: 8px;  /* opcional: cantos arredondados */
  }
  .container-um {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 15px;
    max-width: 1800px;
  }
   .container-um .texto {
    flex: 1;
  }
.box {
    flex: 0 0 900px;                 /* cada caixa ocupa espaço igual */
    padding: 10px;
    box-sizing: border-box;
    width: 500px;
  }
img {
    width: 600px;
    height: auto;
}
/* Divisória com cor diferente */
  .divisoria {
    background-color: #f0c040; /* cor diferente */
    height: 260px;             /* altura da divisória */
    width: 100%;               /* ocupa toda a largura da página */
  }

