@font-face {
    font-family: 'Fontinha';
    src: url(a_black_lives/aBlackLives.otf);
}
body{
    font-family: 'Fontinha', sans-serif;
    background-color: rgb(255, 255, 255);
    font-size: 45px;
}

h1{
    text-align: center;
}
.foto{
    height: 700px;
    background-image: url(Turminha\ do\ mal.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center ;
}
.container {
      display: flex;
      justify-content: center; /* centraliza horizontalmente */
      align-items: center;    /* centraliza verticalmente */
      gap: 20px;              /* espaçamento entre as imagens */
}
img {
    width: 200px;
    height: auto;
}
