aside{
    border: 1px solid rgb(206, 199, 199);
    border-left: none;
    height: 920px;
    width: 400px;
    background-color:rgb(255, 255, 255);
}
.container-stories{
      flex-grow: 1; /* Faz o container ocupar o espaço restante */
      border: 1px solid rgb(206, 199, 199);
      border-radius: 12px;
      margin: 30px 70px;
      display: flex;
    }
    .storyitem{
        display: inline-block;
        text-align: center;
    }
    .borderstory{
        display: flex;
        border-radius: 50%;
    }
    .avatarstory{
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }

.container {
      display: flex;
      /* Container horizontal: aside à esquerda, header à direita */
      align-items: flex-start; /* Alinha os itens no topo */
      height: 100vh; /* Exemplo para ocupar toda a altura da tela */
    }

@font-face {
    font-family:'Theusbook' ;
    src: url(sweet_toffee/Sweet\ Toffee.ttf);
}
h1{
    font-family: 'Theusbook';
    font-size: 70px;
}

.icon {
  margin-bottom: 10px; /* Espaço vertical entre os ícones */
}

.configimg{
    width: 45px;
    height: 45px;
}
.configbuttons{
    display: flex;
    width: 391px;
    height: 70px;
    border: none;
    background-color:white;
    cursor: pointer;

    transition: background-color 0.3s ease, transform 0.2s ease;
}
.configbuttons:hover {
  background-color: rgb(202, 202, 202); /* verde ao passar o mouse */
  transform: scale(1.05);    /* leve aumento no tamanho */
}

.iconeletra{
    display: inline-block;
    font: 16pt Times;
    margin-left: 20px;
}

