*{
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
aside{
    border: 1px solid rgb(206, 199, 199);
    border-left: none;
    height: 920px;
    width: 400px;
    background-color:rgb(255, 255, 255);
}

body{
    justify-content: center;
    align-items: center;
    display: flex;
}

.container-stories{
      flex-grow: 1; /* Faz o container ocupar o espaço restante */
      border: 1px solid rgb(206, 199, 199);
      border-radius: 12px;
      margin-top: 30px;
      margin-right: 145px;
      margin-left: 115px;
      height: 100px;
      display: flex;
      padding: 10px 15px;
      height: 125px;
    }
    .storyitem{
        display: inline-block;
        text-align: center;
        margin-right: 10px;
        margin-left: 10px;
    }
    .border-story{
        width: 74px;
        height: 74px;
        display: flex;
        border-radius: 50%;
        background: linear-gradient(45deg, #4c6ef5 0%, #9f7aea 25%, #9f7aea 50%, #be95c4 75%, #7A00FF 100%);
        align-items: center;
        justify-content: center;
    }
    .border-inner-story{
      background: white;
      width: 66px;
      height: 66px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .avatarstory{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        cursor: pointer;
    }

    .username{
        display: block;
        font-size: 0.8em;
        color: #333;
        margin-top: 5px;
        max-width: 66px;
    }
    .story-visto{
        background: #CCC;
    }

.container {
      display: flex;
      /* Container horizontal: aside à esquerda, header à direita */
      align-items: flex-start; /* Alinha os itens no topo */
      height: 100vh; /* Exemplo para ocupar toda a altura da tela */
    }

@font-face {
    font-family:'Theusbook' ;
    src: url(sweet_toffee/Sweet\ Toffee.ttf);
}
h1{
    font-family: 'Theusbook';
    font-size: 70px;
}

.icon {
  margin-bottom: 10px; /* Espaço vertical entre os ícones */
}

.configimg{
    width: 45px;
    height: 45px;
    margin-top: 12px;
    margin-left: 5px;
}
.configbuttons{
    display: flex;
    width: 370px;
    height: 70px;
    border: none;
    border-radius: 12px;
    background-color:white;
    cursor: pointer;
    margin-left: 12px;

    transition: background-color 0.3s ease, transform 0.2s ease;
}
.configbuttons:hover {
  background-color: rgb(202, 202, 202); /* verde ao passar o mouse */
  transform: scale(1.05);    /* leve aumento no tamanho */
}

.iconeletra{
    display: inline-block;
    font: 16pt Times;
    margin-left: 20px;
    margin-top: 5px;
}

.containerpost{
    border: 3px solid rgb(206, 199, 199);
    height: 500px;
    width: 300px;
    display: flex;
    

}
